[req]
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req
prompt              = no
string_mask         = utf8only

[req_distinguished_name]
C                   = RU
ST                  = Svrdl
L                   = Ekb
O                   = OpenWrt
OU                  = Home Router
CN                  = router1.home.my

[v3_req]
keyUsage            = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage    = serverAuth
subjectAltName      = @alt_names

[alt_names]
DNS.1               = router1.home.my
IP.1                = 192.168.1.126
